*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.body {
  margin: 0;
  font-size: 14px;
  color: #33333d;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif;
}

.main-wrapper {
  .main-banner {
    height: 500px;
    // background-image: url('~assets/img/promise.jpg');
    background-image: url('https://gitee.com/aisen60/blog/raw/master/assets/banner.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    h1 {
      margin: 0;
      color: #fff;
      padding: 0 10px;
    }
  }

  .main-card-line {
    padding: 30px 10px;
    background-color: #f8f9fa;
    .card-post {
      display: flex;
      flex-wrap: wrap;
      .card {
        .card-image {
          display: block;
          height: 230px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .card-body {
          transition: box-shadow 0.3s;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          background-color: #fff;
          padding: 20px;
          margin-bottom: 30px;
          height: 120px;
          &:hover {
            box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
          }
          .card-link {
            text-decoration: none;
          }
          .card-title {
            margin: 0;
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 20px;
            color: #33333d;
            &:hover {
              color: #337ab7;
            }
          }
          .card-info {
            padding-top: 10px;
          }
        }
      }
    }
  }
}

.main-post-wrapper {
  background: #f8f9fa;
  overflow: hidden;

  .article {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 5px 40px -1px rgba(2, 10, 18, 0.11);

    img,
    video {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
      border-style: none;
      outline: none;
    }

    .article-header {
      position: relative;
      .head-mask {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
        padding: 30px;
        .head-title {
          color: #fff;
          font-size: 24px;
          line-height: 30px;
        }
        .head-info {
          color: #fff;
          margin-top: 10px;
        }
      }
    }

    .article-main {
      padding: 10px 20px;
      background-color: #fff;
      section {
        word-break: break-word;
      }
    }
  }
}

.footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  .footer-wrapper {
    max-width: 700px;
    height: 40px;
    margin: 0 auto;
    color: #1b2b4f;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    font-size: 16px;
    p {
      padding: 0;
    }
  }
}

.back-top {
  right: 20px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  line-height: 45px;
  background: rgb(231, 234, 241);
  position: fixed;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.github-corner {
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

@media (max-width: 479px) {
  .main-wrapper {
    .main-banner {
      height: 230px;
    }
    .main-card-line {
      padding-left: 0;
      padding-right: 0;
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .main-post-wrapper {
    .article {
      margin: 0;
    }
  }

  .footer {
    .footer-wrapper {
      display: block;
      text-align: center;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .main-wrapper {
    .main-banner {
      height: 300px;
    }
  }
  .main-post-wrapper {
    .article {
      margin: 0;
    }
  }
  .footer {
    .footer-wrapper {
      display: block;
      text-align: center;
    }
  }
}
